body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f1e8;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

header {
    background-color: #7f5539;
}

header a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.logo {
    position: relative;
    top: 10px;
    left: 0;
    bottom: 10px;
}

.logo img {
    height: 100px;
    width: auto;
}

.nav-left {
    display: flex;
    gap: 2rem;
    margin-left: 2rem;
}

.nav-left a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1rem;
}

.nav-right {
    display: flex;
    gap: 2rem;
    margin-left: auto;
}

.nav-right a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1rem;
}

footer {
    background-color: #7f5539;
    color: white;
    text-align: center;
    padding: 1rem;
}

footer a {
    text-decoration: none;
}

footer img {
    width: 30px;
    transition: opacity 0.3s;
}

footer a:hover {
    opacity: 0.7;
}